<!-- Include head.ejs -->
<% include .././partials/standard/head %>

<main>
        <div id="home">
            <div class="home-wrap text-center">
                <h1 class="home-header">ØKO FOLKEFEST</h1>
            </div>
        </div>

        <div id="about">
            <div class="container">
                <div class="about-wrap text-center">
                    <div class="about-text">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt
                            ut labore et dolore magna aliqua.</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <img src="img/leaf1.png">
                </div>
                <!-- container div -->
            </div>
            <!-- about div -->
        </div>

        <div id="portfolio">
            <div class="container">
                <a href="p" <h1 class="portfolio-header text-center">KØB BILLET</h1>
                    <div class="col-md-12">
                        <div class="col-md-8
                "><a href="payment.ejs"><img src="img/event_ver3.jpg">
                            </a></div>
                        <div class="col-md-4"><a href="payment.ejs"><img src="img/event_ver3.jpg">
                            </a></div>
                    </div>
            </div>
        </div>


        <div class="divider"></div>

        <div id="contact">
            <div class="container">
                <div class="contact-wrap text-center">
                    <h1 class="contact-header">TERMS & CONDITIONS</h1>

                </div>
            </div>
        </div>

    </main>


<!--include script.ejs-->
<% include .././partials/standard/scripts %>
</html>

