<!-- Include head.ejs -->
<% include .././partials/standard/head %>

<body>
    <!-- Content Area Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-4">
                                <p class="text-muted text-center">Forside</p>
                            </div>
                            <div class="col-md-4">
                                <h1  class="text-muted text-center">Kampagne</h1>
                            <div class="col-md-4">
                
                            </div>
                        </div>
                    </div>

                    <div class="card-block">
                        <h1>Kampagnebiletter.dk - Salgsbetingelser</h1>

                        <h2>1. Generel</h2>
                        <p>This cat happen now, it was too purr-fect!!! shake treat bag, but flee in terror at cucumber discovered on floor</p>

                        <h2>2. Købet</h2>
                        <p>This cat happen now, it was too purr-fect!!! shake treat bag, but flee in terror at cucumber discovered on floor</p>

                        <h2>3. Refundering</h2>
                        <p>This cat happen now, it was too purr-fect!!! shake treat bag, but flee in terror at cucumber discovered on floor</p>
                        
                        <h2>4. Andet</h2>
                        <p>Vi har krav på dit første fødte barn, om det er født eller ej.</p>

                        <a type="button" href="/bestilling" class="btn btn-primary btn-lg btn-block">Vend tilbage til bestilling</a>
                    </div>

                    <div class="card-footer footer bg-light">
                        <p class="text-muted text-center">Kampagne Site - Copyright 2018</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Area End -->
</body>

<!--include script.ejs-->
<% include .././partials/standard/scripts %>
</html>

